@media (max-width:650px) {
    body {
        height: fit-content;
        background: url('../images/bg-mobile.svg') no-repeat;
        background-color: #674baf;
        background-size: contain;
        padding: 20px;
        min-height: 100vh;
    }

    .logo img {
        display: flex;
        width: 50%;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .content .illustration-mockups {
        width: 100%;
    }

    .content .info h1 {
        font-size: clamp(2rem, 1.35vw, 4rem);
        line-height: clamp(1.3rem, 3.5vh, auto);
    }

    .content .info p {
        font-size: clamp(1.2rem, 1.35vw, 4rem);
        line-height: clamp(1rem, 3.5vh, auto);
        margin: 15px 0px 30px;
    }


    .content .info .btn {
        padding: 12px 80px;
    }

    .contact {
        justify-content: center;
        margin-top: 8em;
     }
}

@media (max-width:375px){
    body {
        height: fit-content;
        background-size: contain;
        min-height: 100vh;
        display: flex;
        gap: 20px;
    }

    .logo img {
        height: 100%;
        width: 50%;
    }


    .content {
        gap: 70px;
    }
}